*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
display: flex;
flex-direction: row;
}

.container .box{
    margin: 0px 50px;
}


.container .info{
    margin-top:100px;
}
.container .info h3{
    margin-top:10px;
    display: flex;
}
.container .info h3 span{
    margin-left: 20px;
}



@media (max-width:770px) {
    .container .info h3{
        font-size: 17px;
    }
    .container .info h3 span{
        font-size: 15px;
    }
}