*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.Navbar{
    margin-bottom: 40px;
    overflow: hidden;

}
.bar{
    display: flex;
    background-color: rgb(231, 78, 78);
    position: relative;
    padding: 10px;
}

.bar .menu{
    margin-left: 100px;
    display: flex;
}
.bar  h1{
    color: white;
    font-size: 26px;
}
.bar .toggle{
    display: none;
}
.bar .menu a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-right: 100px;
    cursor: pointer;
}


.bar .menu .input{
    display: flex;
}
.bar .menu .input h2{
    color: white;
    font-weight: 300;
    margin-right: 8px;
    line-height: 40px;
}

.bar .input{
    display: flex;  
    margin-left: 100px;
}
.bar .input input{
    padding: 10px 30px;
    margin-left: 20px;
    width: 500px;
    border: none;
}
.bar .input h2{
    color: white;
    line-height: 40px;
    margin-right: 20px;
}

 .news{
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 30px;
}
 .news a{
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 10px;
}

@media (max-width:770px) {
    .bar  h1{
        font-size: 19px;
    }
    .bar .menu{
        margin-left: 100px;
    }

    .bar .input input{
        padding-left: 20px;
        width: 300px;
    }
    
    .bar .menu a{
        font-size: 18px;
        margin-right: 30px;
    }
}
@media (max-width:400px){
    .bar  h1{
        font-size: 15px;
    }
    .bar .toggle{
        margin-left: 100px;
        display: block;
    }
    .bar .menu{
        display: none;
    }
    .bar .input{
     display: none;
    }
    .news{
        display: none;
    }
}